<p id="who">
  <strong>Who:</strong>
  Data Carpentry courses are aimed at graduate students and other researchers. This particular course is hosted by the 
  <a href="https://www.manchesterbrc.nihr.ac.uk/">Manchester Biomedical Research Centre</a>, University of Manchester, 
  and will be delivered to undergrad students of medicine with a focus on health data analyses using the antibiotics dataset similar to the one 
  <a href="https://data.gov.uk/dataset/176ae264-2484-4afe-a297-d51798eb8228/gp-practice-prescribing-data-presentation-level">here</a>.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
